<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="LOGS_HOME" value="com.example.aerobankapp/resources/logs/"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout"/>
        <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</Pattern>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"></appender-ref>
    </root>


    <appender name="STDOUT"	class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n -->
                %-4relative [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <Appenders>
        <File name="fout" fileName="aerobank.log" append="true">
            <PatternLayout>
                <Pattern>%d[yyyy-MM-dd HH:mm:ss} %-5p %m%nw</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <appender name="LOGIN-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS_HOME}aerobank.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>



        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>aerobank.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <prudent>true</prudent>
        <fliter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </fliter>
    </appender>

    <root level="error">
        <appender-ref ref="LOGIN-LOG"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.example" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.example.login.authentication.AuthenticationImpl" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>


    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/app.log</file>
        <encoder>
            <pattern>
                %d{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
                %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>3GB</maxFileSize>
        </triggeringPolicy>
    </appender>

</configuration>